php_value register_globals 0
php_value magic_quotes_gpc 0
php_value session.use_trans_sid 1
php_value session.cookie_lifetime 0
AddDefaultCharset UTF-8
DirectoryIndex index.php
Options -Indexes

<Files text.zip>
	order allow,deny
	deny from all
</Files>

RewriteEngine on
#RewriteRule ^id([0-9]+)$ index.php?r=user/profile&id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_url=$1 [L,QSA]
